{% extends 'base.vue' %}

{% block globalfunctions %}
{% endblock globalfunctions %}

  {% block vuescript %}
  data: {
    vueTestData: "It Works",
    posts: [],
    newPost: { 'title': null, 'body': null },
    loading: true,
    currentPost: {},
  },
  mounted: function () {
        this.getPosts();
      },
      methods: {
        getPosts: function () {
          let api_url = '/api/list/';
      
          
          this.$http.get(api_url)
            .then((response) => {
              this.posts = response.data;
              this.loading = false;
            })
            .catch((err) => {
              this.loading = false;
              console.log(err);
            })
        },
        getPost: function (id) {
          this.loading = true;
          this.$http.get(`/api/detail/${id}/`)
            .then((response) => {
              this.currentPost = response.data;
              $("#editPostModal").modal('show');
              this.loading = false;
            })
            .catch((err) => {
              this.loading = false;
              console.log(err);
            })
        },
        addPost: function () {
          this.loading = true;
          this.$http.post('/api/create/', this.newPost)
            .then((response) => {
              this.loading = true;
              this.getPosts();
            })
            .catch((err) => {
              this.loading = true;
              console.log(err);
            })
        },
        updatePost: function () {
          this.loading = true;
          this.$http.put(`/api/update/${this.currentPost.id}/`, this.currentPost)
            .then((response) => {
              this.loading = false;
              this.currentPost = response.data;
              this.getPosts();
            })
            .catch((err) => {
              this.loading = false;
              console.log(err);
            })
        },
        deletePost: function (id) {
          this.loading = true;
          this.$http.delete(`/api/delete/${id}/`)
            .then((response) => {
              this.loading = false;
              this.getPosts();
            })
            .catch((err) => {
              this.loading = false;
              console.log(err);
            })
        }
      }
  {% endblock vuescript %}