{% extends 'base.html' %}

{% block content %}
<!-- <h1>Vue Code In File Below</h1> -->
<div id="{{ vue_element }}">
	<!-- <h2>[[ vueTestData ]]</h2> -->
	<div class="container">
		<div>
		  <h1 style="text-align: center;">List of Posts
			<button type="button" class="btn btn-outline-info btn-md" data-toggle="modal" data-target="#addPostModal">+ New Post</button>
		  </h1>
		  &emsp;
		  <table class="table">
			<thead>
			  <tr>
				<th scope="col">#</th>
				<th scope="col">Title</th>
				<th scope="col">Body</th>
				<th scope="col">Update</th>
				<th scope="col">Delete</th>
			  </tr>
			</thead>
			<tbody>
			  <tr v-for="post in posts">
				<th scope="row">${post.id}</th>
				<td>${post.title}</td>
				<td>${post.body}</td>
				<td>
				  <button class="btn btn-outline-primary btn-sm" v-on:click="getPost(post.id)">Edit</button>
				</td>
				<td>
				  <button class="btn btn-outline-danger btn-sm" v-on:click="deletePost(post.id)">Delete</button>
				</td>
			  </tr>
			</tbody>
		  </table>
		  <!-- Add Post Modal -->
		  <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="exampleModalLongTitle">New Post</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<form v-on:submit.prevent="addPost()">
				  <div class="modal-body">
					<div class="form-group">
					  <label for="post_title">Post Title</label>
					  <input type="text" class="form-control" id="post_title" placeholder="Enter Post Title"
						v-model="newPost.title" required="required">
					</div>
					<div class="form-group">
					  <label for="post_body">Post Body</label>
					  <textarea class="form-control" id="post_body" placeholder="Enter Post Body"
						v-model="newPost.body" required="required" rows="3"></textarea>
					</div>
					<div class="form-group">
						<label for="post_published">Post Published</label>
						<input type="datetime-local" class="form-control" id="post_published" v-model="newPost.published" required="required">
					  </div>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
				  </div>
				</form>
			  </div>
			</div>
			<div class="loading" v-if="loading===true">Loading&#8230;</div>
		  </div>
		  <!-- End of add post modal -->
		  <!-- Edit Post Modal -->
		  <div class="modal fade" id="editPostModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLongTitle" aria-hidden="true">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h5 class="modal-title" id="exampleModalLongTitle">EDIT POST</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<form v-on:submit.prevent="updatePost()">
				  <div class="modal-body">
					<div class="form-group">
					  <label for="post_title">Post Title</label>
					  <input type="text" class="form-control" id="post_title" placeholder="Enter Post Title"
						v-model="currentPost.title" required="required">
					</div>
					<div class="form-group">
					  <label for="post_body">Post Body</label>
					  <textarea class="form-control" id="post_body" placeholder="Enter Post Body"
						v-model="currentPost.body" required="required" rows="3"></textarea>
					</div>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
				  </div>
				</form>
			  </div>
			</div>
			<div class="loading" v-if="loading===true">Loading&#8230;</div>
		  </div>
		  <!-- End of edit post modal -->
  
		</div>
	  </div>
	  <div class="loading" v-if="loading===true">Loading&#8230;</div>
</div>
<script>
	{% include 'blog/blog.vue' %}
</script>
{% endblock content %}